@if(currentResult.length != 0) {
<table mat-table [dataSource]="currentResult">
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Schein/Münze </th>
        <td mat-cell *matCellDef="let currentResultLine"> {{currentResultLine.type / 100 |
            currency:'EUR':'symbol':'1.2-2':'de'}} </td>
    </ng-container>
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Anzahl </th>
        <td mat-cell *matCellDef="let currentResultLine"> {{currentResultLine.value}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
@if(diffResult.length != 0) {
<table mat-table [dataSource]="diffResult">
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Schein/Münze </th>
        <td mat-cell *matCellDef="let diffResultLine"> {{diffResultLine.type / 100 |
            currency:'EUR':'symbol':'1.2-2':'de'}} </td>
    </ng-container>
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Differenz </th>
        <td mat-cell *matCellDef="let diffResultLine"> {{diffResultLine.value}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}
} @else {
<div>no result yet</div>
}