.result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.table-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.result-table {
  min-width: 30%;
}
